<form action="/fabricante/crear-fabricante" method="post">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre">
    <br>
    <label for="ubicacion">Ubicación</label>
    <input id="ubicacion" type="text" name="ubicacion">
    <br>
    <label for="fundacion">Fundación</label>
    <input id="fundacion" type="text" name="fundacion">
    <br>
    <label for="presidente">Presidente</label>
    <input id="presidente" type="text" name="presidente">
    <br>
    <label for="ingresos">Ingresos</label>
    <input id="ingresos" type="text" name="ingresos">
    <br>
    <label for="empleados">Empleados</label>
    <input id="empleados" type="text" name="empleados">
    <br>

    <button type="submit">Crear</button>
    <button type="reset">Reset</button>
</form>
<a href="/fabricante/fabricantes">
    <button>Cancelar</button>
</a>