<form action="/procesador/crear-procesador" method="post">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre">
    <br>
    <label for="lanzamiento">Lanzamiento</label>
    <input id="lanzamiento" type="text" name="lanzamiento">
    <br>
    <label for="arquitectura">Arquitectura</label>
    <input id="arquitectura" type="text" name="arquitectura">
    <br>
    <label for="zocalo">Zócalo</label>
    <input id="zocalo" type="text" name="zocalo">
    <br>
    <label for="nucleos">Núcleos</label>
    <input id="nucleos" type="text" name="nucleos">
    <br>

    <button type="submit">Crear</button>
    <button type="reset">Reset</button>
</form>
<a href="/procesador/procesadores">
    <button>Cancelar</button>
</a>